[submodule "shovel-kubernetes-helm-devops"]
	path = shovel-kubernetes-helm-devops
	url = https://github.com/ChinaLHR/shovel-kubernetes-helm-devops
	branch = main
[submodule "shovel-kustomize-argocd-gitops"]
	path = shovel-kustomize-argocd-gitops
	url = https://github.com/ChinaLHR/shovel-kustomize-argocd-gitops
	branch = main
[submodule "shovel-progressive-delivery-argo-rollouts"]
	path = shovel-progressive-delivery-argo-rollouts
	url = https://github.com/ChinaLHR/shovel-progressive-delivery-argo-rollouts
	branch = main
[submodule "shovel-modern-data-stack"]
	path = shovel-modern-data-stack
	url = https://github.com/ChinaLHR/shovel-modern-data-stack
	branch = main
